/* reset */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

p, h2, h3, h4{
  margin: 0;
}

img{
  display: block;
}

/* style */

body {
  font-family: 'Gilroy';
}


/* main html */

html{
  box-sizing: border-box;
}

html *,::after,::before{
box-sizing: inherit;
}

.header {
  padding: 30px 0;
  border-bottom: 1px solid #ffffff;
  background-color: #232323;
}

.svg{
  display: block;
  flex-direction: row;
  fill: #ffffff;
  width: 36px;
  height: 36px;
}

/* container */

.container {
  max-width: 1296px;
  margin: 0 auto;
}

/*header-container*/

.header-container{
  display: flex;
  align-items: center;
}

/* nav */

.nav{
  margin-left: 124px;
}

/* nav-menu */

.nav-menu {
  display: flex;
  gap: 40px;
}

/*nav-menu-item*/

.nav-menu-item > .link{
  color: #ffffff;
}

/* .nav-menu-item {
  margin: 0 20px;
}

.nav-menu-item:first-child {
  margin-left:0; 
}

.nav-menu-item:last-child {
  margin-right:0; 
} */

/* block html */

.boxs {
  max-width: 1040px;
  border: 1px solid #ffffff;
}

.show {
  display: inline-block;
  padding: 12px 28px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #ffffff;
}
.show:focus {
  border: 10px solid aqua;
  outline: 1px solid coral;
}

/* nameT */

.nameT {
  color: #ffffff;
  font-size: 48px;
  width: 636px;
  height: 201px;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 342px;
}

.hero{
  padding-top: 200px;
  background-color: #232323;
}

/*f*/

.f{
  gap: 12px;
  display: flex;
  color: #ffffff;
  margin-bottom: 150px;
}

/*f-item*/

.f-item {
  width: 315px;
  height: 151px;
  background: #8D86C9;
}

/*p1/2*/

.p1{
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  text-align: start;
}

.p2{
  margin-top: 17px;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
}

.f-item button{
  padding-left: 35px;
  padding-top: 36px;
  background: #8D86C9;
  border: transparent;
  color: #ffffff;
}

/*play-t*/

.play-t{
  margin-bottom: 954px;
}

.play-t-ul{
  display: flex;
  gap: 24px;
}

.photos-play{
  border: 1px solid #F7ECE1;
  padding: 25px 20px;
}

/*.nav2{
  display: flex;
  margin-left: 185px;
  gap: 26px;
}*/


.nav-footer-menu {
  display: flex;
  gap: 40px;
}

/*nav-menu-item*/

.nav-footer-menu-item > .link{
  color: #000000;

}

.nav-footer-menu-item{
  color: #000000;
  
}

nav.nav-footer{
  margin-left: 104px;
}

/*footer*/

.div-footer{
  display: flex;
  padding: 38px 0;
  background: #F7ECE1;
  align-items: center;
  justify-content: center;
}

.trainers{
  margin-bottom: 150px;
}

.rights{
  opacity: 0.3;
}

.trainers-list{
  display: flex;
  gap: 24px;
}


.trainers h2{
  margin-bottom: 75px;
  font-size: 36px;
}

.trainers-li > p{
  text-align: center;
}

.photos-coaches{
  padding: 0 15px;
  border: 1px solid #F7ECE1;
}

.trainers-li > img{
  width: 196px;
}
.trainers-li > h4{
  text-align: center;
  font-size: 21px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.price{
  margin-left: 312px;
  padding: 150px;
}

.price-list-item{
  font-size: 21px;
  align-items: center;
}

.price-list{
  color: #000000;
  gap: 30px;
  display: flex;
  flex-direction: column;
  width: 526px;
}

.price1div h2{
  margin-bottom: 75px;
  font-size: 36px;
}

.button{
  color: #ffffff;
  border: transparent;
  background: #8D86C9;
  width: 100%;
  height: 60px;
  padding: 15.5px 0;
  text-align: start;
  padding-left: 30px;
}

.news h1{
  text-align: center;
  color: #ffffff;
  font-size: 48px;
  line-height: 140%;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #232323;
  margin: 0;
}

.news{
  background-color: #232323;
}
.news-section{
  margin-top: 80px;
  margin-bottom: 120px;
}

.news-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.news-list-item{
}

.news-div{
  padding: 30px 40px;
  border: 1px solid #F7ECE1;
  width: 416px;
  height: 512px;
}

.news-div-img{
}

.news-div-p{
  opacity: 0.5;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 14px;
}

.news-div-h4{
  font-size: 21px;
}
.news-button{  
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  width: 137px;
  height: 45px;
  background: #8D86C9;
  border: transparent;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
}

.news-button1{
  margin-top: 49px;
}

.news-button{
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}
