/* reset */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* style */

body {
  background-color: #232323;
}
/* main html */

html{
  box-sizing: border-box;
}

html *,::after,::before{
box-sizing: inherit;
}

.header {
  padding: 30px 0;
  border-bottom: 1px solid #ffffff;
}

/* container */

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container{
  display: flex;
  align-items: center;
}

/* nav */

.nav{
  margin-left: 124px;
}

/* nav-menu */

.nav-menu {
  display: flex;
  gap: 40px;
}

/*nav-menu-item*/

.nav-menu-item > .link{
  color: rgb(255, 255, 255);
}

/* .nav-menu-item {
  margin: 0 20px;
}

.nav-menu-item:first-child {
  margin-left:0; 
}

.nav-menu-item:last-child {
  margin-right:0; 
} */

/* block html */
.boxs {
  max-width: 1040px;
  border: 1px solid #ffffff;
}

.show {
  display: inline-block;
  padding: 12px 28px;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #ffffff;
}
.show:focus {
  border: 10px solid aqua;
  outline: 1px solid coral;
}
